<!-- <pre>{{users | json}}</pre> -->
<div class="ui container">
  <br/><br/>
  <div class="ui centered grid">
    <div class="ui statistics">
      <div class="green statistic">
        <div class="value">
          {{this.totalFridayEvening}}
        </div>
        <div class="label">
          Friday Evening
        </div>
      </div>
      <div class="green statistic">
        <div class="value">
          {{this.totalSaturdayDaytime}}
        </div>
        <div class="label">
          Saturday Daytime
        </div>
      </div>
      <div class="green statistic">
        <div class="value">
          {{this.totalSaturdayEvening}}
        </div>
        <div class="label">
          Saturday Evening
        </div>
      </div>
      <div class="green statistic">
        <div class="value">
          {{this.totalSundayMorning}}
        </div>
        <div class="label">
          Sunday Morning
        </div>
      </div>
    </div>
  </div>


  <table class="ui selectable compact celled table">
    <thead class="full-width">
      <tr>
        <th>Email</th>
        <th>Friday Evening</th>
        <th>Saturday Daytime</th>
        <th>Saturday Evening</th>
        <th>Sunday Morning</th>
      </tr>
    </thead>
    <tbody *ngIf="feedback">
      <ng-container *ngFor="let fb of feedback">
        <tr>
          <td class="center aligned">{{fb.username}}</td>
          <td class="center aligned">
            <i [class]="getBooleanClass(fb.fridayEvening)"></i>
          </td>
          <td class="center aligned">
            <i [class]="getBooleanClass(fb.saturdayDaytime)"></i>
          </td>
          <td class="center aligned">
            <i [class]="getBooleanClass(fb.saturdayEvening)"></i>
          </td>
          <td class="center aligned">
            <i [class]="getBooleanClass(fb.sundayMorning)"></i>
          </td>
        </tr>
      </ng-container>
    </tbody>
    <tfoot class="full-width">
      <tr>
        <th></th>
        <th colspan="4">
          <div class="ui right floated small primary labeled icon button">
            <i class="user icon"></i> Add User
          </div>
          <div class="ui small  button">
            Approve
          </div>
          <div class="ui small  disabled button">
            Approve All
          </div>
        </th>
      </tr>
    </tfoot>
  </table>

  <br/><br/><br/><br/><br/>
  <div class="ui centered grid">
    <div class="ui feed">
      <ng-container *ngFor="let comment of allComments">
        <div class="event" *ngIf="comment.commentHistory.length > 0">
          <div class="label">
            <img src="https://zahelastorage.blob.core.windows.net/zahela-assets/defaultAvatars/male-4.svg">
          </div>
          <div class="content">
            <div class="summary">
              <a>{{comment.email}}</a> posted:
              <div class="date">
              </div>
            </div>
            <div class="extra text" *ngIf="comment.commentHistory">
              <p *ngFor="let ch of comment.commentHistory">{{ch}}</p>
            </div>
            <div class="meta">
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>